<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home6</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/furryfur/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static '/furryfur/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/css/About_us%20Image_card.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/css/Date-Picker-and-Footer.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/css/Find_Sitter_without_login.css' %}">
    <link rel="stylesheet" href="{% static '/furryfur/assets/css/form.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="{% static '/furryfur/assets/css/Login_Signup.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark bounce animated" id="mainNav" style="opacity: 0.90;height: 50px;">
        <div class="container"><a class="navbar-brand" data-bs-hover-animate="tada" href="#page-top" style="background-image: url({% static 'furryfur/assets/img/logo.jpeg' %});background-size: 165px;background-repeat: no-repeat;background-position: left;margin-right: 16px;margin-left: -22px;margin-bottom: 6px;padding-bottom: 5px;padding-top: 4px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>
            <button
                data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -8px;padding: 9px;opacity: 1;"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-top: -3px;margin-right: -17px;margin-left: -16px;opacity: 0.90;height: 50px;color: #212529;">
                    <ul class="nav navbar-nav ml-auto text-uppercase" data-aos="fade-down" style="padding-left: 15px;opacity: 0.90;background-color: #343a40;">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation" style="margin-right: 0px;"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center" data-bs-hover-animate="tada" href="{% url 'findsitterview' %}" style="font-size: 12.5px;margin-top: 4px;height: 44px;letter-spacing: 0;margin-right: 86px;">Find Sitter</a></li>
                        <li class="nav-item" role="presentation" style="width: 41px;"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center" data-bs-hover-animate="tada" href="{% url 'index' %}" style="font-size: 12.5px;margin-top: 4px;height: 44px;width: 45px;letter-spacing: 0;">Home</a></li>
                        <!-- index.html#about -->
                        <li class="nav-item" role="presentation" style="opacity: 1;filter: blur(0px);margin-left: 0px;padding-left: 1px;width: 124px;"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center js-scroll-trigger" data-bs-hover-animate="tada" href="{% url 'index' %}" style="opacity: 1;height: 44px;font-size: 12.5px;margin-top: 4px;letter-spacing: 0;width: 138px;">How It Works</a></li>
                        <!-- index.html#portfolio -->
                        <li class="nav-item" role="presentation" style="width: 89px;"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center js-scroll-trigger" data-bs-hover-animate="tada" href="{% url 'index' %}" style="margin-top: 4px;font-size: 12.5px;letter-spacing: 0;width: 100px;height: 44px;">About Us</a></li>
                        <!-- index.html#services -->
                        <li class="nav-item" role="presentation" style="width: 74px;"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center js-scroll-trigger" data-bs-hover-animate="tada" href="{% url 'index' %}" style="font-size: 12.5px;margin-top: 4px;height: 44px;width: 82px;letter-spacing: 0;">Services</a></li>
                        <!-- <li class="nav-item" role="presentation" style="width: 115px;"><a class="nav-link active d-lg-flex justify-content-lg-center align-items-lg-center js-scroll-trigger" data-bs-hover-animate="tada" href="Login_Signup.html" style="margin-top: 4px;font-size: 12.5px;letter-spacing: 0;height: 44px;width: 125px;color: rgb(254,209,54);">Login/Singup</a></li> -->
                        <!-- index.html#contact -->
                        <li class="nav-item" role="presentation"><a class="nav-link d-lg-flex align-items-lg-center js-scroll-trigger" data-bs-hover-animate="tada" href="{% url 'index' %}" style="font-size: 12.5px;margin-top: 4px;margin-right: -22px;background-size: 19px;background-repeat: no-repeat;letter-spacing: 0;height: 44px;">Contact</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                </div>
        </div>
    </nav><div id="containertoggle">
<div class="inner-containertoggle togleft">
		<div class="toggle ">
			<p>Sitter</p>
		</div>
		<div class="toggle ">
			<p>Owner</p>
		</div>
    </div>
	<div class="inner-containertoggle togright" id='toggle-containertoggle'>
		<div class="toggle ">
			<p>Sitter</p>
		</div>
		<div class="toggle ">
			<p>Owner</p>
		</div>
	</div>
</div>
    
    <div class="containerlog" id="containerlogowner">
        <div class="form-containerlog sign-up-containerlog">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-containerlog">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="First Name" class="signupfirstname"/>
                <input type="text" placeholder="First Name" class="signuplastname"/>
                <input type="email" placeholder="Email"  class="signupemail"/>
                <input type="password" placeholder="Password" class="signuppassword"/>
                <button onclick="signup('owner')">Sign Up</button>
            </form>
        </div>
        <div class="form-containerlog sign-in-containerlog">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-containerlog">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" class="signinemail"/>
                <input type="password" placeholder="Password" class="signinpassword" />
                <a href="#">Forgot your password?</a>
                <button onclick="signin('owner')">Sign In</button>
            </form>
        </div>
        <div class="overlay-containerlog">
            <div class="overlayowner">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signInowner">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Owner!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUpowner">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="containerlog" id="containerlogsitter" style="display:none;">
        <div class="form-containerlog sign-up-containerlog">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-containerlog">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="First Name" class="signupfirstname"/>
                <input type="text" placeholder="First Name" class="signuplastname"/>
                <input type="email" placeholder="Email" class="signupemail"/>
                <input type="password" placeholder="Password" class="signuppassword"/>
                <button onclick="signup('petsitter')">Sign Up</button>
            </form>
        </div>
        <div class="form-containerlog sign-in-containerlog">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-containerlog">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email"  class="signinemail"/>
                <input type="password" placeholder="Password" class="signinpassword" />
                <a href="#">Forgot your password?</a>
                <button onclick="signin('petsitter')">Sign In</button>
            </form>
        </div>
        <div class="overlay-containerlog">
            <div class="overlaysitter">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signInsitter">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Sitter!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUpsitter">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/furryfur/assets/js/Login_Signup.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/furryfur/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static '/furryfur/assets/js/Date-Picker-From-and-To.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/Nav_bar.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/Find_Sitter_without_login.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/Find_sitter.js' %}"></script>
    <script src="{% static '/furryfur/assets/js/form.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="{% static '/furryfur/assets/js/Services_Swiper-Slider-Card.js' %}"></script>
</body>

</html>